test {
  height: 100vh;
}

main {
  height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #222222 50%, #222222 100%);
}

body {
  background: #222;
}
#sidenav {
  min-width: 300px;
  background: #000000;
  color: white;
}


#hero {
  height: 200px;
  color: #fff;
  background-color: #f5b8ab;
  background-image: url('../src/assets/hero_bg.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center right;
  
}

.card {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 50px;
}
